<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Vaše registrace nebyla schválena knihovníkem.
    </p>
    <br>
    
    <p>Automaticky odeslaný email z aplikace knihovny katedry informačního inženýrství PEF ČZU</p>
   
  </body>
</html>