 <a href="/" class="login-link">
      <img src="/images/czu_logo.png" alt="czu logo" height="70" class="pull-left">
  <h2 class="form-signin-heading"> 
      <span class="login-bigger-title dark-grey">Knihovna Katedry informačního inženýrství</span><br>
      <span class="login-smaller-title dark-grey">Provozně ekonomická fakulta ČZU v Praze</span>
  </h2>
  </a>
<hr style="border-color: #818181">
  