<h1 class="margin-left-1">Kontakt</h1>

<div class="col-sm-5">
  <table class="table table-borderless table-hover">
	<tbody>
		<tr>
			<td>Správce knihovny</td>
			<td>Ing. Dana Vynikarová, Ph.D.</td>
		</tr>
		<tr>
			<td>Adresa PEF ČZU</td>
			<td>Kamýcká 129<br>165 21  Praha 6 - Suchdol</td>
		</tr>
		<tr>
			<td>Kancelář</td>
			<td>E552, 5. patro PEF ČZU</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>vynikarova@pef.czu.cz</td>
		</tr>
		<tr><td></td></tr>
		<tr>
			<td><strong>Provozní doba</strong></td>
			<td>Den od-do</td>
		</tr>
		<tr>
			<td></td>
			<td>Den od-do</td>
		</tr>
	</tbody>
  </table>
  </div>
