<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dobrý den,</p>
    <p>
      Do knihovny se zaregistroval nový uživatel, který čeká na Vaše schválení. <br>
    </p>
    <br>
    
    <p>Automaticky odeslaný email z aplikace katedrální knihovny.</p>

  </body>
</html>