
<p>
  <strong>Kniha:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Čtenář:</strong>
  <%= @user_name_surname %>
</p>

<p>
  <strong>Od:</strong>
  <%= @loan.from %>
</p>

<p>
  <strong>Do:</strong>
  <%= @loan.to %>
</p>

