<div class="container-fluid header-top"> 
	  	<div class="navbar-header logo pull-left">
	  		<img src="/images/czu_logo.png" alt="czu logo" height="80" class="pull-left czu-logo">
	        <a href="/" class="navbar-brand header-font-size">
            	 <span class="header-top-span dark-grey"> Knihovna Katedry informačního inženýrství </span><br>
            	 <span class="header-bottom-span dark-grey">Provozně ekonomická fakulta České zemědělské univerzity v Praze</span>
        	</a>
    	</div> 

      <%= render 'layouts/search' %> 

</div>
      
      




